.location{
    color: rgb(54, 54, 54);
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 400;
    margin-top: 90px;
}
.main-card{
    width: 33%;
    padding: 10px 12px 10px 0px
}
.card-content{
    width: 100%;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 7px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(117, 114, 114);
}
.card-content h5{
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 400;
    color: rgb(28, 28, 28);
    margin: 0px 0px 0.5rem;
}
.card-content p{
    font-size: 1.0rem;

}
.main-map{
    display: flex;
    flex-wrap: wrap; 
}
@media (max-width:780px){
    .main-map{
        flex-direction: column;
    }
    .location{
        font-size: 1.0rem;
        font-weight: 200;
        text-align: center;
    }
    .main-card{
        margin: auto;
    }
    .card-content{
        padding: 5px;
    }
}
